/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    @include padding-lr($columns-gutter,$columns-gutter);

    > *:last-child,
    > *:last-child > *:last-child,
    > *:last-child > *:last-child > *:last-child,
    > *:last-child > *:last-child > *:last-child > *:last-child {
        margin-bottom: 0;
    }

    @include mq(bp3) {
        @include padding-lr($columns-gutter*2,$columns-gutter*2);
    }
}

.c-row--alpha {
    color: palette(color-neutral, x-light);
    background-color: palette(color-alpha);
}

.c-row--beta {
    color: palette(color-alpha);
}


.c-row--light {
    color: palette(color-neutral, dark);
    background-color: palette(color-neutral, x-light);
}

.c-row--header {
    @include padding-tb($alpha-leading,$alpha-leading);
}

.c-row--hero {
    @include padding-tb($alpha-leading,$alpha-leading);

    @include mq(bp4) {
        @include padding-tb($beta-leading*3,$beta-leading*3);
    }
}

.c-row--padding {
    @include padding-tb($alpha-leading*2,$alpha-leading*2);

    @include mq(bp4) {
        @include padding-tb($alpha-leading*4,$alpha-leading*4);
    }
}
