<nav class="c-nav-main">
    <ul class="o-list c-nav-main__list">
        <!-- <li class="c-nav-main__item {% if page.url contains "index" %}is-selected{% endif %}">
            <a href="index.html" class="c-nav-main__link">Home</a>
        </li> -->
        <!-- <li class="c-nav-main__item {% if page.url contains "grid" %}is-selected{% endif %}">
            <a href="#!" class="c-nav-main__link">Documentation</a>
        </li> -->
        <li class="c-nav-main__item">
            <a href="https://github.com/getchopstick" class="c-nav-main__link">Github</a>
        </li>
    </ul>
</nav>
