<footer class="c-row c-row--padding c-row--light">
    <div class="o-container">
        <ul class="o-list c-list-footer">
            <li class="o-list__item c-list-footer__item">
                <a class="c-link c-link--github" href="https://github.com/getchopstick/">Github</a>
            </li>
            <li class="o-list__item c-list-footer__item">
                <a class="c-link c-link--facebook" href="https://www.facebook.com/getchopstick">Facebook</a>
            </li>
            <li class="o-list__item c-list-footer__item">
                <a class="c-link c-link--twitter" href="https://twitter.com/GetChopstick">Twitter</a>
            </li>
        </ul>
        <p class="c-copyright u-text-center u-mb-alpha">
            Website designed by Wijs
        </p>
        <p class="u-text-center u-mb-alpha">
            <a href="http://wijs.be" class="c-logo-wijs">Wijs</a>
        </p>
    </div>
</footer>
