<footer class="c-row c-row--alpha">
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__item">
                <p>
                    <a href="https://github.com/getchopstick/">Contribute on Github</a>
                </p>
            </div>
            <div class="o-grid__item">
                <h3>Talk to us</h3>
                <ul>
                    <li><a href="https://www.facebook.com/getchopstick">Facebook</a></li>
                    <li><a href="https://twitter.com/GetChopstick">Twitter</a></li>
                    <!-- <li><a href="#!">Slack channel</a></li> -->
                </ul>
            </div>
            <div class="o-grid__item">
                <p>©2016 <a href="https://wijs.be/nl">Wijs</a></p>
            </div>
        </div>
    </div>
</footer>
