<div class="c-row c-row--alpha c-row--padding">
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__item">
                <h2>Why?</h2>
            </div>
        </div>

        <div class="o-grid o-grid--gutter o-flex-bp4">

            <div class="o-grid__item">
                <i class="c-icon c-icon--scalable"></i>
                <h3 class="u-mb-alpha">Scalable</h3>
                <p>We use a single-depth-class-based architecture. This makes our framework very robust and easily scalable.</p>
            </div>
            <div class="o-grid__item">
                <i class="c-icon c-icon--composable"></i>
                <h3 class="u-mb-alpha">Highly composable</h3>
                <p>We avoid reliance between elements. Adding is always done by extension, not modification.</p>
            </div>
            <div class="o-grid__item">
                <i class="c-icon c-icon--simple"></i>
                <h3 class="u-mb-alpha">Keep it simple</h3>
                <p>When in doubt we go with the option that is the most resilient, even if it is the most boring one.</p>
            </div>
        </div>
    </div>
</div>
