<div class="c-row c-row--hero c-row--beta">
    <div class="o-container">
        <section class="o-grid o-grid--gutter">
            <div class="o-grid__item">
                <h1 class="c-title c-chopstick">Design framework and boilerplate <span class="c-chopstick__logo"></span></h1>
                <p class="c-lead">Built on industry standards like <a href="http://itcss.io/">ITCSS</a>, <a href="http://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/">BEMit</a> and <a href="https://smacss.com/">SMACSS</a>.</p>
                <p>
                    <a class="c-button c-button--lg" href="#start">Get started</a>
                </p>
            </div>
        </section>
    </div>
</div>
