<section class="holder doormat-holder">
	<div class="row doormat-row">
		<div class="doormat">
			<h3 class="doormat-title">
				Download &amp; Get Hacking.
			</h3>
			<ul class="centered button-group download-button-group">
				<li class="download-button-holder">
					<a href="https://github.com/getchopstick/chopstick-boilerplate/archive/master.zip" class="cta alpha button" onclick="_gaq.push(['_trackEvent', 'Conversions', 'Download', 'Download Zip']);">Download .zip ({{ site.chopstickversion }})</a>
				</li>
				<li>
					or
				</li>
				<li class="download-button-holder">
					<a href="https://github.com/getchopstick/chopstick-boilerplate/fork" class="cta beta button" onclick="_gaq.push(['_trackEvent', 'Conversions', 'Download', 'Fork on Github']);">Fork on Github</a>
				</li>
			</ul>
		</div>
	</div>
</section>
