<ul class="centered button-group">
	<li>
		<a href="https://github.com/getchopstick/chopstick-boilerplate/archive/master.zip" class="cta alpha button" onclick="_gaq.push(['_trackEvent', 'Conversions', 'Download', 'Download Zip']);">Download .zip ({{ site.chopstickversion }})</a>
	</li>
	<li>
		or
	</li>
	<li>
		<a href="https://github.com/getchopstick/chopstick-boilerplate" class="cta beta button" onclick="_gaq.push(['_trackEvent', 'Conversions', 'Download', 'Fork on Github']);">Fork on Github</a>
	</li>
</ul>
