<footer class="holder footer-holder">
	<div class="row footer-row">
		<div class="footer">
			<div class="inner">
				<nav class="footer-nav">
					<ul>
						<li>
							<a href="/features">Features</a>
						</li>
						<li>
							<a href="/docs">Docs</a>
						</li>
						<li>
							<a href="/getstarted">Get started</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>
<section class="holder products-holder">
	<div class="row products-row">
		<h3 class="products-title">
			Coming Soon . . .
		</h3>
		<article class="product">
			<img src="/img/tee1.png" alt="">
			<p class="product-title">
				Classic
			</p>
		</article>
		<article class="product">
			<img src="/img/tee2.png" alt="">
			<p class="product-title">
				Catch the Fly
			</p>
		</article>
		<article class="product">
			<img src="/img/tee3.png" alt="">
			<p class="product-title">
				If a Tree Falls in a Forest ...
			</p>

		</article>
	</div>
</section>
