<section class="holder header-holder">
	<div class="row header-row">
		<div class="header">
			<h1 class="logo logo-animation">
				<a href="/">
					Chopstick
					<span class="logo-animation-fly-one"></span>
					<span class="logo-animation-fly-two"></span>
					<span class="logo-animation-fly-three"></span>
				</a>
			</h1>
			<nav class="main-nav button-nav">
				<ul>
					<li>
						<a href="/getstarted" class="alpha button">Get started</a>
					</li>
				</ul>
			</nav>
			<nav class="main-nav">
				<ul>
					<li><a href="/features">Features</a></li>
					<li><a href="/docs">Docs</a></li>
				</ul>
			</nav>
		</div>
	</div>
</section>
