/*
	module: intro
*/

.intro-holder {
	@extend %clearfix;
	background-color: $alpha-ui-color;
	color: #fff;
	z-index: 30;
	padding: 0;
	position: relative;
}

	.intro-holder video {
		display: block;
		width: 100%;
	}

.home-intro-row {
	position: absolute;
	width: 100%;
	top: 40%;
}

.home-intro {
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,.33);

	h2 {
		font-size: em(42)
	}

	p {
		font-family: $beta-font-family;
		padding-bottom: 0;
	}
}

.intro-code {
	top: 50%;
	width: 100%;


	text-align: center;
}

.main-intro {
	text-align: center;
	font-family: $beta-font-family;

	h1 {
		margin-bottom: em(3);
		// margin-bottom: 0;
	}
}

.intro-row {
	@include padding-tb(1,.8);
}


/* media queries
-------------------------------------- */

@media (min-width: $bp2) {

	.intro {
		@include box-(12,1,1);
	}

	.main-intro {
		float: none;
		margin: 0 auto;
		max-width: 46em;
		float: none;
	}

}

@media (min-width: $bp4) {

	.intro-holder {
		@include padding-tb(1,1);
	}

	.home-intro-holder {
		padding: 0;
	}

}
