
.products-holder {
	background-color: lighten($gamma-ui-color,10);
}

.products-title {
	@extend .doormat-title;
	text-align: center;
}

.product-title {
	color: darken($gamma-ui-color,30);
}

/* media queries
------------------------------------------ */

@media (min-width: $bp2) {

	.product {
		@include box-(12,1,1);
		text-align: center;
	}

}

@media (min-width: $bp4) {

	.product {
		@include box-(4,1,1);
	}

}
