.example {
	@include padding-tb(0,1);
}

.example:before {
	content: "Example:";
	display: block;
	color: $beta-text-color;
}

.doc-feature-nav {

	> ul {
		@extend %clearfix;
		background-color: lighten($gamma-ui-color,10);
		@include list-nav;
		@include margin-bottom(1);

		ul {
			@include list-nav;
			@include margin-bottom(.5);

			a {
				display: block;
				text-decoration: none;
				color: darken($gamma-ui-color,30);
				// font-weight: bold;
				@include em-padding-lr(.5,.5);

				&:hover {
					color: darken($gamma-ui-color,40);
				}

			}

		}

		> li {
			border-bottom: 1px solid lighten($gamma-ui-color,0);

			> a {
				font-weight: bold;
				// color: white;
				color: darken($gamma-ui-color,30);
				display: block;
				text-decoration: none;
				@include padding-tb(.5,.5);
				@include em-padding-lr(.5,.5);

				&:hover {
					background-color: lighten($gamma-ui-color,2.5);
				}

			}
		}



	}

}

/* media queries
------------------------------------------ */

@media (min-width: $bp4) {

	.doc-feature-nav {
		@include box-(4,1,1);
	}

	.doc-features {
		@include box-(8,1,1);
	}

}
